In [29]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [30]:
training = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [31]:
print(sum(np.sum(pd.isnull(training)).tolist()))
# There are no NULL values in training dataset
print(sum(np.sum(pd.isnull(test)).tolist()))
# There are no NULL values in test set

0
0

C:\Users\comin\miniconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

# Explorative analyses

In [6]:
training.head()

,Unnamed: 0,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,872,vrl,0,207343,6686,Bovine foamy virus,0.01541,0.00927,0.01720,0.01825,...,0.00643,0.02064,0.01182,0.02812,0.00838,0.03365,0.01974,0.01511,0.00030,0.00030
1,9865,inv,0,7629,10060,Anthocidaris crassispina,0.01213,0.02515,0.00268,0.01352,...,0.00268,0.00915,0.01412,0.03280,0.02555,0.03708,0.05398,0.03330,0.00030,0.00050
2,3190,bct,0,320850,14031,Staphylococcus phage X2,0.02580,0.01618,0.03606,0.01354,...,0.00114,0.01775,0.00499,0.03756,0.02523,0.05388,0.01946,0.02245,0.00121,0.00086
3,3674,bct,0,1397,39839,Bacillus circulans,0.00128,0.02141,0.01225,0.01649,...,0.01177,0.00705,0.00422,0.03316,0.02229,0.03444,0.02370,0.00831,0.00028,0.00063
4,11372,vrt,1,50790,5112,mitochondrion Dascyllus trimaculatus,0.03169,0.01780,0.03893,0.00000,...,0.00000,0.00000,0.00000,0.00020,0.01389,0.02465,0.00352,0.00352,0.00000,0.02465

In [32]:
training = training.iloc[:, 1:]

In [8]:
training.head()

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,207343,6686,Bovine foamy virus,0.01541,0.00927,0.01720,0.01825,0.01436,...,0.00643,0.02064,0.01182,0.02812,0.00838,0.03365,0.01974,0.01511,0.00030,0.00030
1,inv,0,7629,10060,Anthocidaris crassispina,0.01213,0.02515,0.00268,0.01352,0.01372,...,0.00268,0.00915,0.01412,0.03280,0.02555,0.03708,0.05398,0.03330,0.00030,0.00050
2,bct,0,320850,14031,Staphylococcus phage X2,0.02580,0.01618,0.03606,0.01354,0.00848,...,0.00114,0.01775,0.00499,0.03756,0.02523,0.05388,0.01946,0.02245,0.00121,0.00086
3,bct,0,1397,39839,Bacillus circulans,0.00128,0.02141,0.01225,0.01649,0.01330,...,0.01177,0.00705,0.00422,0.03316,0.02229,0.03444,0.02370,0.00831,0.00028,0.00063
4,vrt,1,50790,5112,mitochondrion Dascyllus trimaculatus,0.03169,0.01780,0.03893,0.00000,0.06240,...,0.00000,0.00000,0.00000,0.00020,0.01389,0.02465,0.00352,0.00352,0.00000,0.02465

In [33]:
test = test.iloc[:, 1:]

In [155]:
test.head()

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGA,CGG,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,bct,0,360105,568103,Campylobacter curvus 525.92,0.00959,0.01359,0.01584,0.01312,0.02491,...,0.00354,0.00121,0.00709,0.02980,0.04135,0.02608,0.03877,0.01183,0.00061,0.00117
1,inv,0,135724,6295,Pimpla hypochondriaca,0.01223,0.03447,0.00508,0.01811,0.01176,...,0.00763,0.00524,0.01001,0.02621,0.03368,0.02303,0.03066,0.03479,0.00064,0.00064
2,pln,0,120297,3451,Fusarium oxysporum f. sp. niveum,0.01014,0.03014,0.00145,0.01275,0.01420,...,0.00551,0.00058,0.00174,0.02753,0.02695,0.00637,0.01826,0.03216,0.00116,0.00029
3,pln,0,105351,14867,Aspergillus awamori,0.03551,0.02892,0.00155,0.01117,0.01224,...,0.00303,0.00451,0.00356,0.02865,0.02401,0.01594,0.03390,0.01628,0.00108,0.00047
4,pln,2,280810,1143,chloroplast Cryptothallus mirabilis,0.01662,0.01400,0.02800,0.03412,0.01312,...,0.01662,0.00175,0.01837,0.03062,0.02362,0.03150,0.01575,0.02625,0.00087,0.00525

plt.figure(figsize=(8, 6))
sns.countplot(x='Kingdom', data=training2, hue='Kingdom', palette='Set2', legend=False)
plt.title('Distribution of Samples Among Classes')
plt.xlabel('Target Class')
plt.ylabel('Count')
plt.show()

training.head()
training3 = training.drop(['SpeciesID','SpeciesName', 'Kingdom'], axis=1)

plt.figure(figsize=(8, 6))
sns.countplot(x='DNAtype', data=training3, hue='DNAtype', palette='Set2', legend=False)
plt.title('Distribution of Samples Among Classes')
plt.xlabel('Target Class')
plt.ylabel('Count')
plt.show()

## Barplots of DNA type in each kingdom

print('Unique Kingdom values', np.unique(training.loc[:,"Kingdom"]).tolist())
print('----------------------------------------------------------------------')
print('Unique DNA type values', np.unique(training.loc[:,"DNAtype"]).tolist())
print('----------------------------------------------------------------------')
print('\n')

new_training = training.loc[:, ["DNAtype", "Kingdom","SpeciesName"]]


kingdoms_list = np.unique(training.loc[:,"Kingdom"]).tolist() 


fig, axs = plt.subplots(4, 3, figsize=(15, 12), sharey=True, tight_layout=True)


for idx2, kingdom in enumerate(kingdoms_list):

    row, col = None, None
    
    x = new_training[new_training.loc[:,'Kingdom']==kingdom].loc[:,"DNAtype"]

    x_for_plot = np.unique(x)
    y_for_plot = []

    for idx, dnatype in enumerate(x_for_plot):
        current_value = x_for_plot[idx]
        y_for_plot.append(np.count_nonzero(x == current_value))

    print("Unique values are: ", x_for_plot)
    
    if idx2 <= 2:
        row = 0
        col = idx2
    elif 2 < idx2 <= 5:
        row = 1
        col = idx2 - 3
    elif 5 < idx2 <= 8:
        row = 2
        col = idx2 - 6
    elif 8 < idx2 <= 11:
        row = 3
        col = idx2 - 9
    
    axs[row, col].bar(x_for_plot.tolist(), y_for_plot)
    axs[row, col].set_title('DNA type distribution in {} kingdom'.format(kingdom))
    axs[row, col].set_xlim(min(x_for_plot)-1, max(x_for_plot)+1)
    axs[row, col].set_ylim(0, 2500)
    axs[row, col].set_yticks([250*i for i in range(10)])

plt.show()

## Barplots of Kingdom in each DNA type

new_training = training.loc[:, ["DNAtype", "Kingdom","SpeciesName"]]

DNAtype_list = np.unique(training.loc[:,"DNAtype"]).tolist() 


fig, axs = plt.subplots(4, 4, figsize = (15, 12), sharey=True, tight_layout=True)


for idx2, dnatype in enumerate(DNAtype_list):

    row, col = None, None
    
    x = new_training[new_training.loc[:,'DNAtype']==dnatype].loc[:,"Kingdom"]

    x_for_plot = np.unique(x)
    y_for_plot = []

    for idx, dnatype in enumerate(x_for_plot):
        current_value = x_for_plot[idx]
        y_for_plot.append(np.count_nonzero(x == current_value))

    print("Unique values are: ", x_for_plot)
    print(y_for_plot)
    
    if idx2 <= 3:
        row = 0
        col = idx2
    elif 3 < idx2 <= 7:
        row = 1
        col = idx2 - 4
    elif 7 < idx2 <= 11:
        row = 2
        col = idx2 - 8
    elif 11 < idx2 <= 15:
        row = 3
        col = idx2 - 12
    
    axs[row, col].bar(x_for_plot.tolist(), y_for_plot)
    axs[row, col].set_title('Kingdom distribution in {} DNA type'.format(dnatype))
    axs[row, col].set_ylim(0, 2500)
    axs[row, col].set_yticks([250*i for i in range(10)])

plt.show()


# Pairwise correlation between each pair of codon

In [91]:
train2 = training.iloc[:, 5:]

sns.pairplot(train2, height=2.5)
selezionare solo quelle con la correlazione maggiore

# General correlations heatmap on kingdom

training_Kingdom_codons = training.drop(["DNAtype", "SpeciesID", "Ncodons", "SpeciesName"], axis = 1)
training_Kingdom_codons

import pandas as pd

training_codons = training_Kingdom_codons.drop("Kingdom", axis = 1)
correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

## Correlations in each kingdom

### arc

In [158]:
training_Kingdom_codons

,Kingdom,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0.01541,0.00927,0.01720,0.01825,0.01436,0.02303,0.01555,0.02094,0.01885,...,0.00643,0.02064,0.01182,0.02812,0.00838,0.03365,0.01974,0.01511,0.00030,0.00030
1,inv,0.01213,0.02515,0.00268,0.01352,0.01372,0.01143,0.00775,0.02992,0.01352,...,0.00268,0.00915,0.01412,0.03280,0.02555,0.03708,0.05398,0.03330,0.00030,0.00050
2,bct,0.02580,0.01618,0.03606,0.01354,0.00848,0.02067,0.01041,0.00278,0.03250,...,0.00114,0.01775,0.00499,0.03756,0.02523,0.05388,0.01946,0.02245,0.00121,0.00086
3,bct,0.00128,0.02141,0.01225,0.01649,0.01330,0.01308,0.00399,0.02834,0.02508,...,0.01177,0.00705,0.00422,0.03316,0.02229,0.03444,0.02370,0.00831,0.00028,0.00063
4,vrt,0.03169,0.01780,0.03893,0.00000,0.06240,0.01056,0.05262,0.01408,0.03873,...,0.00000,0.00000,0.00000,0.00020,0.01389,0.02465,0.00352,0.00352,0.00000,0.02465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10417,pln,0.02289,0.02959,0.00614,0.02680,0.01452,0.02178,0.00558,0.01228,0.02401,...,0.00558,0.00893,0.01173,0.03071,0.01954,0.01787,0.02848,0.03127,0.00112,0.00000
10418,vrl,0.02532,0.01557,0.00878,0.01185,0.01160,0.02654,0.00979,0.02313,0.01773,...,0.00477,0.01274,0.01008,0.02070,0.00726,0.02388,0.02233,0.01814,0.00025,0.00038
10419,bct,0.01614,0.02618,0.00131,0.01003,0.02661,0.01658,0.00218,0.04712,0.01920,...,0.01702,0.00175,0.00567,0.02487,0.00000,0.02661,0.02618,0.01353,0.00000,0.00349
10420,pln,0.00196,0.01761,0.04501,0.03131,0.02544,0.00978,0.01761,0.00783,0.04305,...,0.00391,0.01566,0.00391,0.02348,0.01957,0.03523,0.00978,0.00196,0.00000,0.00196
10421,pln,0.01754,0.03704,0.01559,0.01852,0.01949,0.05263,0.02534,0.00975,0.04483,...,0.00390,0.01754,0.00975,0.03314,0.00390,0.03899,0.00780,0.00195,0.00000,0.00195

training_arc = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "arc"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### bct

training_bct = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "bct"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### phg

training_phg = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "phg"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### plm

training_plm = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "plm"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### pln

training_pln = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "pln"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### inv

training_inv = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "inv"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### vrt

training_vrt = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "vrt"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### mam

training_mam = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "mam"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### rod

training_rod = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "rod"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### pri

training_pri = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "pri"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

### vrl

training_vrl = training_Kingdom_codons[training_Kingdom_codons.loc[:,"Kingdom"] == "vrl"]
training_codons = training_arc.drop("Kingdom", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

# AGA distribution of each kingdom

training_kingdoms = [training_arc, training_bct, training_inv, training_mam, training_phg, training_plm, training_pln,
                     training_pri, training_rod, training_vrl, training_vrt]

for df in training_kingdoms:
    data = df.loc[:, "AGA"]
    name = df.iloc[0,0]
    plt.hist(data, bins=35, edgecolor='black')
    plt.title('Histogram of AGA - {}'.format(name))
    plt.xlabel('Values')
    plt.ylabel('Frequency')
    plt.xlim(0, 0.1)
    plt.show()

# General correlation heatmap on DNAtype

In [69]:
training_DNAtype_codons = training.drop(["Kingdom", "SpeciesID", "Ncodons", "SpeciesName"], axis = 1)
training_DNAtype_codons

,DNAtype,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,0,0.01541,0.00927,0.01720,0.01825,0.01436,0.02303,0.01555,0.02094,0.01885,...,0.00643,0.02064,0.01182,0.02812,0.00838,0.03365,0.01974,0.01511,0.00030,0.00030
1,0,0.01213,0.02515,0.00268,0.01352,0.01372,0.01143,0.00775,0.02992,0.01352,...,0.00268,0.00915,0.01412,0.03280,0.02555,0.03708,0.05398,0.03330,0.00030,0.00050
2,0,0.02580,0.01618,0.03606,0.01354,0.00848,0.02067,0.01041,0.00278,0.03250,...,0.00114,0.01775,0.00499,0.03756,0.02523,0.05388,0.01946,0.02245,0.00121,0.00086
3,0,0.00128,0.02141,0.01225,0.01649,0.01330,0.01308,0.00399,0.02834,0.02508,...,0.01177,0.00705,0.00422,0.03316,0.02229,0.03444,0.02370,0.00831,0.00028,0.00063
4,1,0.03169,0.01780,0.03893,0.00000,0.06240,0.01056,0.05262,0.01408,0.03873,...,0.00000,0.00000,0.00000,0.00020,0.01389,0.02465,0.00352,0.00352,0.00000,0.02465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10417,0,0.02289,0.02959,0.00614,0.02680,0.01452,0.02178,0.00558,0.01228,0.02401,...,0.00558,0.00893,0.01173,0.03071,0.01954,0.01787,0.02848,0.03127,0.00112,0.00000
10418,0,0.02532,0.01557,0.00878,0.01185,0.01160,0.02654,0.00979,0.02313,0.01773,...,0.00477,0.01274,0.01008,0.02070,0.00726,0.02388,0.02233,0.01814,0.00025,0.00038
10419,0,0.01614,0.02618,0.00131,0.01003,0.02661,0.01658,0.00218,0.04712,0.01920,...,0.01702,0.00175,0.00567,0.02487,0.00000,0.02661,0.02618,0.01353,0.00000,0.00349
10420,2,0.00196,0.01761,0.04501,0.03131,0.02544,0.00978,0.01761,0.00783,0.04305,...,0.00391,0.01566,0.00391,0.02348,0.01957,0.03523,0.00978,0.00196,0.00000,0.00196
10421,2,0.01754,0.03704,0.01559,0.01852,0.01949,0.05263,0.02534,0.00975,0.04483,...,0.00390,0.01754,0.00975,0.03314,0.00390,0.03899,0.00780,0.00195,0.00000,0.00195

import pandas as pd

training_codons = training_DNAtype_codons.drop("DNAtype", axis = 1)
correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

## Correlations in each DNAtype

In [109]:
np.unique(test.loc[:,"DNAtype"])

array([ 0,  1,  2,  4,  5, 11], dtype=int64)

In [110]:
np.unique(training.loc[:,"DNAtype"])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  9, 11, 12], dtype=int64)

### 0

training_DNAtype_codons = training.drop(["Kingdom", "SpeciesID", "Ncodons", "SpeciesName"], axis = 1)

training_0 = training_DNAtype_codons[training_DNAtype_codons.loc[:,"DNAtype"] == 0]
training_codons = training_0.drop("DNAtype", axis = 1)

correlation_matrix = training_codons.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(70, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Features')
plt.show()

correlation_with_target = training_codons.corrwith(training_codons['AGA'])

# Plot correlation with target
plt.figure(figsize=(30, 6))
correlation_with_target.plot(kind='bar', color='skyblue')
plt.title('Correlation with Target')
plt.xlabel('Features')
plt.ylabel('Correlation')
plt.xticks(rotation=45)
plt.axhline(0.5, color= 'r', linestyle = 'dashed')
plt.axhline(-0.5, color = 'r', linestyle = 'dashed')
plt.show()

# fare altri DNAtype

In [31]:
training.head()
training2 = training.drop(['SpeciesID','SpeciesName', 'DNAtype'], axis=1)

# Clustering

# Classification

## LDA

In [70]:
# All about LDA is in the file 'LDA'

1

# Regression

We want to recover from the data loss of the AGA frequency on test
samples. Train a regressor which can predict the value of the AGA feature
given the remaining ones. Compare different regression algorithms for this
task. Since AGA features are missing in test samples, use only the training
data for this step and make use of robust evaluation techniques to compare
algorithms.

In [34]:
#handle categorical variables
np.unique(training["Kingdom"])

array(['arc', 'bct', 'inv', 'mam', 'phg', 'plm', 'pln', 'pri', 'rod',
       'vrl', 'vrt'], dtype=object)

In [35]:
np.unique(training["DNAtype"])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  9, 11, 12], dtype=int64)

In [36]:
def onehot_feature(pd_data, column_name):
    # Retrieve the unique values (the categories) and an index for each sample
    # specifying the sample category (values[value_idx] reconstruct the original array)
    col_values = pd_data[column_name].to_numpy().astype('<U')
    values, value_idx = np.unique(col_values, return_inverse=True)
    n_values = values.size
    # Create a temporary identity matrix to convert value_idx into one-hot features
    onehots = np.eye(n_values) #when you use an array to index another array in NumPy, it selects rows from the indexed array based on the values in the index array. e[a] selects rows from the identity matrix e based on the values in array a
    value_onehot = onehots[value_idx]
    # Remove the categorical feature
    pd_data = pd_data.drop(column_name, axis=1)
    # Add the new featues
    for i in range(n_values):
        pd_data["{}_{}".format(column_name, values[i])] = value_onehot[:, i]
        
    return pd_data

# Convert famhist into a one-hot encoding
training_ohe = onehot_feature(training, 'Kingdom')
training_ohe = onehot_feature(training_ohe, 'DNAtype')

test_ohe = onehot_feature(test, 'Kingdom')
test_ohe = onehot_feature(test_ohe, 'DNAtype')

training_ohe.head()

,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,CUC,CUA,...,DNAtype_1,DNAtype_11,DNAtype_12,DNAtype_2,DNAtype_3,DNAtype_4,DNAtype_5,DNAtype_6,DNAtype_7,DNAtype_9
0,207343,6686,Bovine foamy virus,0.01541,0.00927,0.01720,0.01825,0.01436,0.02303,0.01555,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7629,10060,Anthocidaris crassispina,0.01213,0.02515,0.00268,0.01352,0.01372,0.01143,0.00775,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,320850,14031,Staphylococcus phage X2,0.02580,0.01618,0.03606,0.01354,0.00848,0.02067,0.01041,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1397,39839,Bacillus circulans,0.00128,0.02141,0.01225,0.01649,0.01330,0.01308,0.00399,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50790,5112,mitochondrion Dascyllus trimaculatus,0.03169,0.01780,0.03893,0.00000,0.06240,0.01056,0.05262,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Correlation between AGA and each codon

In [53]:
# First let's check if we can use Pearson correlation:

#for col in training.columns[5:]:
#    plt.hist(training.loc[:, col], bins = 10)
#    plt.show()
    
# We can't because they don't follow a gaussian distribution, so we use rank correlation methods like Spearman:

from scipy import stats
print("Codons that have a Spearman correlation >= 0.5 (in absolute terms) with AGA:")
for col in training.columns[5:]:
    if col != 'AGA':
        res = stats.spearmanr(training.loc[:, col], training.loc[:, 'AGA'])
        if abs(res.statistic) >= 0.5:
            print("{}: {} -- p-value = {}".format(col, res.statistic, res.pvalue))

# Now we look at the Spearman correlation between all codons to understand if there's some redundancy:

print("\nPairs of codons with a Spearman correlation >= 0.8 (in absolute terms) NOT considering AGA")
for codon1 in training.columns[5:]:
    for codon2 in training.columns[5:]:
        if codon1 != codon2 and codon1 != 'AGA' and codon2 != 'AGA':
            res = stats.spearmanr( training.loc[:, codon1]    ,  training.loc[:, codon2]    )
        if abs(res.statistic) >= 0.8:
            print("Spearman correlation between {} and {}: {} -- p-value = {}".format(codon1, codon2, res.statistic,
                                                                                     res.pvalue))

Codons that have a Spearman correlation >= 0.5 (in absolute terms) with AGA:
UUG: 0.517733529126989 -- p-value = 0.0
AUC: -0.6633343136412367 -- p-value = 0.0
GCC: -0.7147492089184697 -- p-value = 0.0
CCC: -0.5197634685183508 -- p-value = 0.0
GGC: -0.5852023884920887 -- p-value = 0.0
UCU: 0.5009233407342024 -- p-value = 0.0
AGU: 0.694694113172632 -- p-value = 0.0
UAU: 0.561316082441995 -- p-value = 0.0
AAU: 0.6609476920961472 -- p-value = 0.0
UGU: 0.669400904393223 -- p-value = 0.0
CAU: 0.5266827529444139 -- p-value = 0.0
CAC: -0.5115707636164963 -- p-value = 0.0
AAA: 0.5339363538522637 -- p-value = 0.0
AGG: 0.632327477358485 -- p-value = 0.0
GAU: 0.6161749105450396 -- p-value = 0.0
GAA: 0.5428476518370057 -- p-value = 0.0

Pairs of codons with a Spearman correlation >= 0.5 (in absolute terms) NOT considering AGA
Spearman correlation between UUA and AUU: 0.8367679640170536 -- p-value = 0.0
Spearman correlation between AUU and UUA: 0.8367679640170534 -- p-value = 0.0
Spearman correlation between GCC and AAU: -0.8144283599086362 -- p-value = 0.0
Spearman correlation between GCG and CCG: 0.822557812727275 -- p-value = 0.0
Spearman correlation between GCG and ACG: 0.8223173287386336 -- p-value = 0.0
Spearman correlation between CCG and GCG: 0.8225578127272749 -- p-value = 0.0
Spearman correlation between ACG and GCG: 0.8223173287386337 -- p-value = 0.0
Spearman correlation between UAU and AAU: 0.8132948467165341 -- p-value = 0.0
Spearman correlation between AAU and GCC: -0.814428359908636 -- p-value = 0.0
Spearman correlation between AAU and UAU: 0.8132948467165341 -- p-value = 0.0

### All functions needed later on:

In [74]:
from scipy.stats import t, f

def rss(y_true, y_pred):
    y_true = y_true.reshape(y_pred.shape)
    return np.sum((y_true - y_pred) ** 2)

def tss(y):
    return np.sum((y - y.mean()) ** 2)

def multiple_least_squares(X, y):
    model = LinearRegression(fit_intercept=True)
    model.fit(X, y)
    y_pred = model.predict(X)
    betas = [model.intercept_, *model.coef_]
    return betas, y_pred

def show_stats(X, y, betas, names, alpha=None):
    n_samples, n_features = X.shape
    deg = n_samples-n_features
    
    if X.shape[1] + 1 == betas.shape[0]:
        X = np.concatenate([np.ones([X.shape[0], 1]), X], axis=-1)
    
    pred = X.dot(betas).reshape(-1)
    betas = betas.reshape(-1)
    y = y.reshape(-1)
    RSE = ((y-pred)**2).sum()/(n_samples - n_features)

    se2_b = RSE*(np.linalg.inv(np.dot(X.T, X)).diagonal())
    se_b = np.sqrt(se2_b)
    t_stat_b = (betas - 0) / se_b

    p_values = np.array([2*t.sf(np.abs(t_stat), deg) for t_stat in t_stat_b])
    
    df = pd.DataFrame()
    df["Name"] = names
    df["Coefficients"] = betas
    df["Standard Errors"] = se_b
    df["t-stat"] = t_stat_b
    df["p-value"] = p_values
    if alpha:
        rejectH0 = p_values < alpha
        df["reject H0"] = rejectH0    
    
    RSS = np.sum((y - pred)**2)
    MSE = RSS/y.shape[0]
    
    return df
 
def Ftest_restricted(data, y, subset_features):
    X_complete = data.to_numpy()
    y = y.to_numpy()
    n = X_complete.shape[0]
    
    betas_complete, y_pred = multiple_least_squares(X_complete, y)    
    rss_complete = rss(y, y_pred)
    nf_complete = X_complete.shape[1]
    
    notS = data.columns.difference(subset_features)
    X_restr = data[notS].to_numpy()
    betas_restr, y_pred = multiple_least_squares(X_restr, y)

    rss_restr = rss(y, y_pred)
    nf_restr = X_restr.shape[1]

    q = nf_complete - nf_restr

    F_num = (rss_restr - rss_complete) / q
    F_den = rss_complete / (n - nf_complete - 1)
    F = F_num / F_den

    p_value = f.sf(F, q, n - nf_complete - 1)
    return p_value, F



### Multivariate linear regression models to understand which codon are useless for predicting AGA frequency

In [87]:
from sklearn.linear_model import LinearRegression

X = training.iloc[:, 5:].drop("AGA", axis = 1)
y = training.loc[:, "AGA"]

X_all_features = [codon for codon in X.columns.tolist()]

linear_model = LinearRegression(fit_intercept=True)
linear_model = model.fit(X, y)

betas = np.array([linear_model.intercept_, *linear_model.coef_]).reshape(-1, 1) 
final_stats = show_stats(X, y.to_numpy(), betas, ['Intercept', *X_all_features], alpha=0.0001)
print(final_stats)
print("\nNOT SIGNIFICANT CODONS: ", final_stats[final_stats.loc[:, 'reject H0']==False])

         Name  Coefficients  Standard Errors        t-stat  p-value  reject H0
0   Intercept      0.999938         0.000082  12248.651521      0.0       True
1         UUU     -0.999900         0.000088 -11419.511160      0.0       True
2         UUC     -0.999959         0.000101  -9905.781604      0.0       True
3         UUA     -0.999960         0.000096 -10412.822448      0.0       True
4         UUG     -0.999897         0.000103  -9710.379087      0.0       True
..        ...           ...              ...           ...      ...        ...
59        GAA     -0.999955         0.000103  -9738.646816      0.0       True
60        GAG     -0.999950         0.000100 -10007.550693      0.0       True
61        UAA     -0.999893         0.000088 -11412.835860      0.0       True
62        UAG     -0.999394         0.000435  -2295.279831      0.0       True
63        UGA     -1.000029         0.000133  -7535.083484      0.0       True

[64 rows x 6 columns]

NOT SIGNIFICANT CODONS:  Empty DataFrame
Columns: [Name, Coefficients, Standard Errors, t-stat, p-value, reject H0]
Index: []

In [95]:
# data preparation: train
cols_to_keep_train = training_ohe.drop(['AGA','SpeciesID','SpeciesName'], axis=1)
column_names_train = cols_to_keep_train.columns.tolist()
X_train = training_ohe[column_names_train].to_numpy()
y_train = training_ohe['AGA'].to_numpy()

#prove
X_train_prova = training.iloc[:, 5:]
cols_to_keep_train_prova = X_train_prova.drop(['AGA'], axis=1)
column_names_train_prova = cols_to_keep_train_prova.columns.tolist()
X_train_prova = training_ohe[column_names_train].to_numpy()
y_train_prova = training_ohe['AGA'].to_numpy()

In [96]:
# data preparation: test
cols_to_keep_test = test_ohe.drop(['SpeciesID','SpeciesName'], axis=1)
column_names_test = cols_to_keep_test.columns.tolist()
X_test = test_ohe[column_names_test].to_numpy()
#y_test = training_ohe['AGA'].to_numpy()

#prove
X_test_prova = test.iloc[:, 5:]
column_names_test_prova = X_test_prova.columns.tolist()
X_test_prova = test_ohe[column_names_test_prova].to_numpy()
#y_test_prova = test_ohe['AGA'].to_numpy()

In [97]:
from sklearn.linear_model import LinearRegression  # 1- model selection
model = LinearRegression(fit_intercept=True)       # 2- hyperparams
model.fit(X_train, y_train)                        # 3- model fitting
y_predict = model.predict(X_train)                 # 4- model testing

#prove
from sklearn.linear_model import LinearRegression  # 1- model selection
model = LinearRegression(fit_intercept=True)       # 2- hyperparams
model.fit(X_train_prova, y_train_prova)            # 3- model fitting
y_predict = model.predict(X_train_prova)           # 4- model testing

In [99]:
print("The intercept is {:0.3f}".format(model.intercept_))
for idx, col_name in enumerate(column_names_train):
    print("The coefficient for {} is {:0.3f}".format(col_name, model.coef_[idx]))

The intercept is 1.000
The coefficient for Ncodons is 0.000
The coefficient for UUU is -1.000
The coefficient for UUC is -1.000
The coefficient for UUA is -1.000
The coefficient for UUG is -1.000
The coefficient for CUU is -1.000
The coefficient for CUC is -1.000
The coefficient for CUA is -1.000
The coefficient for CUG is -1.000
The coefficient for AUU is -1.000
The coefficient for AUC is -1.000
The coefficient for AUA is -1.000
The coefficient for AUG is -1.000
The coefficient for GUU is -1.000
The coefficient for GUC is -1.000
The coefficient for GUA is -1.000
The coefficient for GUG is -1.000
The coefficient for GCU is -1.000
The coefficient for GCC is -1.000
The coefficient for GCA is -1.000
The coefficient for GCG is -1.000
The coefficient for CCU is -1.000
The coefficient for CCC is -1.000
The coefficient for CCA is -1.000
The coefficient for CCG is -1.000
The coefficient for UGG is -1.000
The coefficient for GGU is -1.000
The coefficient for GGC is -1.000
The coefficient for GGA is -1.000
The coefficient for GGG is -1.000
The coefficient for UCU is -1.001
The coefficient for UCC is -1.000
The coefficient for UCA is -1.000
The coefficient for UCG is -1.000
The coefficient for AGU is -1.000
The coefficient for AGC is -1.000
The coefficient for ACU is -1.000
The coefficient for ACC is -1.000
The coefficient for ACA is -1.000
The coefficient for ACG is -1.000
The coefficient for UAU is -1.000
The coefficient for UAC is -1.000
The coefficient for CAA is -1.000
The coefficient for CAG is -1.000
The coefficient for AAU is -1.000
The coefficient for AAC is -1.000
The coefficient for UGU is -1.000
The coefficient for UGC is -1.000
The coefficient for CAU is -1.000
The coefficient for CAC is -1.000
The coefficient for AAA is -1.000
The coefficient for AAG is -1.000
The coefficient for CGU is -1.000
The coefficient for CGC is -1.000
The coefficient for CGA is -1.000
The coefficient for CGG is -1.000
The coefficient for AGG is -1.000
The coefficient for GAU is -1.000
The coefficient for GAC is -1.000
The coefficient for GAA is -1.000
The coefficient for GAG is -1.000
The coefficient for UAA is -1.000
The coefficient for UAG is -0.999
The coefficient for UGA is -1.000
The coefficient for Kingdom_arc is -0.000
The coefficient for Kingdom_bct is -0.000
The coefficient for Kingdom_inv is -0.000
The coefficient for Kingdom_mam is -0.000
The coefficient for Kingdom_phg is 0.000
The coefficient for Kingdom_plm is 0.000
The coefficient for Kingdom_pln is -0.000
The coefficient for Kingdom_pri is -0.000
The coefficient for Kingdom_rod is 0.000
The coefficient for Kingdom_vrl is -0.000
The coefficient for Kingdom_vrt is 0.000
The coefficient for DNAtype_0 is 0.000
The coefficient for DNAtype_1 is 0.000
The coefficient for DNAtype_11 is -0.000
The coefficient for DNAtype_12 is -0.000
The coefficient for DNAtype_2 is 0.000
The coefficient for DNAtype_3 is -0.000
The coefficient for DNAtype_4 is -0.000
The coefficient for DNAtype_5 is 0.000
The coefficient for DNAtype_6 is 0.000
The coefficient for DNAtype_7 is 0.000
The coefficient for DNAtype_9 is -0.000

In [100]:
#prove
print("The intercept is {:0.3f}".format(model.intercept_))
for idx, col_name in enumerate(column_names_train_prova):
    print("The coefficient for {} is {:0.3f}".format(col_name, model.coef_[idx]))

The intercept is 1.000
The coefficient for UUU is 0.000
The coefficient for UUC is -1.000
The coefficient for UUA is -1.000
The coefficient for UUG is -1.000
The coefficient for CUU is -1.000
The coefficient for CUC is -1.000
The coefficient for CUA is -1.000
The coefficient for CUG is -1.000
The coefficient for AUU is -1.000
The coefficient for AUC is -1.000
The coefficient for AUA is -1.000
The coefficient for AUG is -1.000
The coefficient for GUU is -1.000
The coefficient for GUC is -1.000
The coefficient for GUA is -1.000
The coefficient for GUG is -1.000
The coefficient for GCU is -1.000
The coefficient for GCC is -1.000
The coefficient for GCA is -1.000
The coefficient for GCG is -1.000
The coefficient for CCU is -1.000
The coefficient for CCC is -1.000
The coefficient for CCA is -1.000
The coefficient for CCG is -1.000
The coefficient for UGG is -1.000
The coefficient for GGU is -1.000
The coefficient for GGC is -1.000
The coefficient for GGA is -1.000
The coefficient for GGG is -1.000
The coefficient for UCU is -1.000
The coefficient for UCC is -1.001
The coefficient for UCA is -1.000
The coefficient for UCG is -1.000
The coefficient for AGU is -1.000
The coefficient for AGC is -1.000
The coefficient for ACU is -1.000
The coefficient for ACC is -1.000
The coefficient for ACA is -1.000
The coefficient for ACG is -1.000
The coefficient for UAU is -1.000
The coefficient for UAC is -1.000
The coefficient for CAA is -1.000
The coefficient for CAG is -1.000
The coefficient for AAU is -1.000
The coefficient for AAC is -1.000
The coefficient for UGU is -1.000
The coefficient for UGC is -1.000
The coefficient for CAU is -1.000
The coefficient for CAC is -1.000
The coefficient for AAA is -1.000
The coefficient for AAG is -1.000
The coefficient for CGU is -1.000
The coefficient for CGC is -1.000
The coefficient for CGA is -1.000
The coefficient for CGG is -1.000
The coefficient for AGG is -1.000
The coefficient for GAU is -1.000
The coefficient for GAC is -1.000
The coefficient for GAA is -1.000
The coefficient for GAG is -1.000
The coefficient for UAA is -1.000
The coefficient for UAG is -1.000
The coefficient for UGA is -0.999

In [101]:
from sklearn.metrics import r2_score, mean_squared_error
print("R2 score ", r2_score(y_train, y_predict))
print("MSE score ", mean_squared_error(y_train, y_predict))

R2 score  0.9999803534704436
MSE score  1.4522171279272175e-09

In [102]:
#prove
from sklearn.metrics import r2_score, mean_squared_error
print("R2 score ", r2_score(y_train_prova, y_predict))
print("MSE score ", mean_squared_error(y_train_prova, y_predict))

R2 score  0.9999803534704436
MSE score  1.4522171279272175e-09

In [103]:
# ===============================================
#        Code from Lab02.01 - 27/03/2024
# 02.01.StatisticalLearningLinearRegression.ipynb
# ===============================================
from scipy.stats import t, f

def rss(y_true, y_pred): #implementation from the last lab session (already exist in SKLearn)
    # First we make sure the shapes are the same
    y_true = y_true.reshape(y_pred.shape)
    return np.sum((y_true - y_pred) ** 2)

def tss(y):
    return np.sum((y - y.mean()) ** 2)

def multiple_least_squares(X, y): #function to train the model using least, last time you implemented by scratch 
    # Helper function that uses scikit-learn models
    # and behaves as the function we implemented in
    # Lab02.01
    model = LinearRegression(fit_intercept=True)
    model.fit(X, y)
    y_pred = model.predict(X)
    betas = [model.intercept_, *model.coef_]
    return betas, y_pred

# Computes coefficient statistcs #this function is doing t test for each feature, and we check to see if there is any statistical evidence that each feature is correlated to the outcome (rejectH0)
def show_stats(X, y, betas, names, alpha=None):
    n_samples, n_features = X.shape
    deg = n_samples-n_features
    
    # If the ones column has not been added
    if X.shape[1] + 1 == betas.shape[0]:
        X = np.concatenate([np.ones([X.shape[0], 1]), X], axis=-1)
    
    # Compute the prediction
    pred = X.dot(betas).reshape(-1)
    betas = betas.reshape(-1)
    y = y.reshape(-1)
    RSE = ((y-pred)**2).sum()/(n_samples - n_features)

    # Compute the t statistics
    se2_b = RSE*(np.linalg.inv(np.dot(X.T, X)).diagonal())
    se_b = np.sqrt(se2_b)
    t_stat_b = (betas - 0) / se_b

    # Compute the p-value
    p_values = np.array([2*t.sf(np.abs(t_stat), deg) for t_stat in t_stat_b])
    
    df = pd.DataFrame()
    df["Name"] = names
    df["Coefficients"] = betas
    df["Standard Errors"] = se_b
    df["t-stat"] = t_stat_b
    df["p-value"] = p_values
    if alpha:
        rejectH0 = p_values < alpha
        df["reject H0"] = rejectH0    
    
    RSS = np.sum((y - pred)**2)
    MSE = RSS/y.shape[0]
    #print("RSS: {}".format(RSS))
    
    return df
 
# H0: all features in the subset are equal to 0    #F test, within subset of features at least one is relevant (H0=all features are zero if we accept it none of the feature is usefuk)
def Ftest_restricted(data, y, subset_features):
    # Train the complete model
    X_complete = data.to_numpy()
    y = y.to_numpy()
    n = X_complete.shape[0]
    
    betas_complete, y_pred = multiple_least_squares(X_complete, y)    
    rss_complete = rss(y, y_pred)
    nf_complete = X_complete.shape[1]
    
    # Train the restricted model
    notS = data.columns.difference(subset_features)
    X_restr = data[notS].to_numpy()
    betas_restr, y_pred = multiple_least_squares(X_restr, y)

    rss_restr = rss(y, y_pred)
    nf_restr = X_restr.shape[1]

    q = nf_complete - nf_restr

    # Compute F statistics
    F_num = (rss_restr - rss_complete) / q
    F_den = rss_complete / (n - nf_complete - 1)
    F = F_num / F_den

    # Compute the p-value
    p_value = f.sf(F, q, n - nf_complete - 1)
    return p_value, F

In [104]:
betas = np.array([model.intercept_, *model.coef_]).reshape(-1, 1) #single array of all parameters in the model (number of betas and one as a feature)
show_stats(X_train, y_train, betas, ['Intercept', *column_names_train], alpha=0.001) #increasing number of features probability of making an error is increasing, with 100 features, we have 100% of probability of making at least one error

C:\Users\39388\AppData\Local\Temp\ipykernel_13240\2668412445.py:42: RuntimeWarning: invalid value encountered in sqrt
  se_b = np.sqrt(se2_b)

,Name,Coefficients,Standard Errors,t-stat,p-value,reject H0
0,Intercept,9.999491e-01,4.652051e+01,0.021495,0.982851,False
1,Ncodons,7.899595e-14,6.267644e-13,0.126038,0.899705,False
2,UUU,-9.999137e-01,9.088857e-05,-11001.534371,0.000000,True
3,UUC,-9.999830e-01,1.046000e-04,-9560.064371,0.000000,True
4,UUA,-9.999723e-01,1.006980e-04,-9930.413110,0.000000,True
...,...,...,...,...,...,...
82,DNAtype_4,-6.571454e-06,5.382692e+00,-0.000001,0.999999,False
83,DNAtype_5,1.568568e-05,5.382692e+00,0.000003,0.999998,False
84,DNAtype_6,3.516917e-05,5.382692e+00,0.000007,0.999995,False
85,DNAtype_7,4.198496e-05,5.382692e+00,0.000008,0.999994,False
86,DNAtype_9,-4.419093e-05,5.382692e+00,-0.000008,0.999993,False

In [141]:
from sklearn.model_selection import train_test_split

mpg_test_size = 0.3
mpg_test_seed = 40
# Split X and y into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=mpg_test_size, random_state=mpg_test_seed)
print("X_train.shape ", X_train.shape)
print("X_test.shape ", X_test.shape)

X_train.shape  (7295, 64)
X_test.shape  (3127, 64)

In [142]:
X_all_features_train = cols_to_keep_train.columns.to_list()
X_all_features_test = cols_to_keep_test.columns.to_list()

In [145]:
X_train_pd = pd.DataFrame(X_train, columns=X_all_features_train)
X_test_pd = pd.DataFrame(X_test, columns=X_all_features_test)
y_train_pd = pd.DataFrame(y_train)

In [147]:
X_train_pd

,Ncodons,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,...,DNAtype_1,DNAtype_11,DNAtype_12,DNAtype_2,DNAtype_3,DNAtype_4,DNAtype_5,DNAtype_6,DNAtype_7,DNAtype_9
3868,NaN,0.00585,0.01942,0.01053,0.01194,0.00655,0.00000,0.01264,0.01568,0.01451,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7501,NaN,0.00722,0.01430,0.03581,0.01726,0.01281,0.00162,0.00560,0.00364,0.03466,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9114,NaN,0.01600,0.02707,0.00820,0.01518,0.01025,0.02379,0.00820,0.04758,0.01559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8204,NaN,0.00593,0.03066,0.02374,0.03363,0.02967,0.00593,0.02374,0.01187,0.04154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2643,NaN,0.00000,0.02609,0.02415,0.00290,0.04348,0.03768,0.07343,0.00966,0.05217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7839,NaN,0.01111,0.02180,0.01357,0.01543,0.00782,0.00596,0.01028,0.01193,0.02283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3603,NaN,0.01276,0.01677,0.00911,0.01568,0.02479,0.01641,0.00911,0.03026,0.02151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5959,NaN,0.01312,0.01894,0.03946,0.01470,0.01611,0.00889,0.01761,0.01304,0.02882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5426,NaN,0.02495,0.01651,0.00509,0.01528,0.01177,0.01546,0.00457,0.04726,0.01739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7608,NaN,0.02218,0.02122,0.01020,0.02345,0.02596,0.00123,0.00809,0.00930,0.02617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
alpha = 0.001 #to check if at least one of the features is useful we perform a F-test, and be sure to safely remove them

df_train_piccolo = 
features = 

p_value, F = Ftest_restricted(X_train_pd, y_train_pd, features)
print("p-value =", p_value)
print("F-stat =", F)
if p_value < alpha: #if p values is below alpha we reject the null hypothesis
    print("Reject H0: There is evidence to say that at least one of the S features is useful")
else:
    print("Do not Reject H0: There is NO evidence to say that at least one of the S features is useful")
    #we got the same but alpha value doesn't chnage as we add some more features

NameError: name 'features' is not defined

# Feature selection

In [127]:
X_all_features_train = cols_to_keep_train.columns.to_list()
X_all_features_test = cols_to_keep_test.columns.to_list()

In [134]:
y_train

array([0.02064, 0.00915, 0.01775, ..., 0.00175, 0.01566, 0.01754])

In [135]:
X_train_pd = pd.DataFrame(X_train, columns=X_all_features_train)
X_test_pd = pd.DataFrame(X_test, columns=X_all_features_test)

In [132]:
#This code defines a function get_evaluator that takes a scorer function as input and returns another function called evaluator.
#The purpose of get_evaluator is to create an "evaluator" function that can apply the provided scorer to evaluate models.
def get_evaluator(scorer): 
    def evaluator(model, X, y, trained=False): #nested function that takes a model, X, y, and an optional trained parameter. The trained parameter is used to indicate if the model has already been trained.
        if not trained:
            model = model.fit(X, y)
        score = scorer(model, X, y)
        return model, score
    return evaluator

In [138]:
X_train_pd.shape, y_train.shape, X_test_pd.shape, y_test.shape

((10422, 86), (10422,), (2606, 81), (3127,))

In [ ]:
def estimate_sigma(Xtrain_pd, ytrain):
    # Sigma is usually estimated using the model with all features
    n, p = Xtrain_pd.shape
    model = LinearRegression(fit_intercept=True)
    model.fit(Xtrain_pd, ytrain)
    y_pred = model.predict(Xtrain_pd)
    RSS = rss(y_pred, ytrain)
    RSE = np.sqrt(RSS / (n-p))
    return RSE

def cp(y_pred, y_true, n, d, sigma):
    sigma2 = sigma**2
    return (rss(y_pred, y_true) + 2*d*sigma2) / n

def aic(y_pred, y_true, n, d, sigma):
    sigma2 = sigma**2
    return (rss(y_pred, y_true) + 2*d*sigma2) / (n*sigma2)

def bic(y_pred, y_true, n, d, sigma):
    sigma2 = sigma**2
    return (rss(y_pred, y_true) + np.log(n)*d*sigma2) / (n*sigma2)

def adj_r2(y_pred, y_true, n, d, sigma):
    sigma2 = sigma**2
    RSS = rss(y_pred, y_true)
    TSS = tss(y_true)
    return 1 - (RSS/(n-d-1)) / (TSS/(n-1))